*
{
	padding: 0;
	margin: 0;
}

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: Vardana, Ariel, Helvetica, sans-serif;
	font-size: 16px;
	background-color : rgb(35,35,50);
}

header
{
	background-color: rgb(250,250,250);
	color: rgb(255,0,80);
	height: 50px;
	width: 100%;
	position: fixed;
	display: block;
}

#branding
{
	background-color: rgb(255,0,70);
	color: white;
	width: auto;
	height: 50px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.05em;
	letter-spacing: 3px;
	line-height: 50px;
	padding: 0 15px;
	float: left;
}

#nav
{
	display: block;
	float: left;
	margin-left: 45px;
}

#nav ul
{
	list-style: none;
	overflow: hidden;
}

#nav li
{
	float: left;
}

#nav li a
{
	text-decoration: none;
	display: block;
	color: rgb(35,35,50);
	text-transform: uppercase;
	text-align: center;
	padding: 0 15px;
	line-height: 50px;
	font-size: .85em;
	font-weight: bold;
	letter-spacing: 3px;
}

#nav li a.active
{
	color: rgb(255,0,70);
}

#nav li a:hover
{
	color: rgb(255,0,70);
}

.jumbobox
{
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 750px;
	display: table;
	color: white;
	text-align: center;
	border-bottom: solid 2px rgb(255,0,70);
}

.jumbobox-small
{
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 500px;
	display: block;
	line-height: 1.5;
}

#jumbo1
{
	background-image: url('../img/image1.jpg');
}

.jumbobox h1
{
	font-size: 5vw;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-shadow: 0 0 20px black;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5;
	padding: 0 50px;
}

.jumbobox-small h1
{
	text-align: center;
	padding: 50px 0;
	color: white;
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 4em;
	text-shadow: 0 0 15px black;
}

.jumbobox-small p
{
	color: white;
	font-size: 1.25em;
	font-weight: normal;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 25px;
	font-style: italic;
	text-shadow: 0 0 5px black;
}

#jumbo2
{
	background-image: url('../img/image2.jpg');
}

.container
{
	width: 70%;
	margin: auto;
	overflow: hidden;
}